  <div class="container">
        <div class="row">
           <h3 class="text-center test_title">Angular JS Test</h3>
        </div>

        <div class="que_color row">Q.2- What is The full form of CSS?</div>
        <form role="form">
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result2" ng-value="'opt1'">Cascade style Service.</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result2" ng-value="'opt2'">Color Style Sheet.</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result2" ng-value="'opt3'">Cascade Style sheet.</label>
            </div>
        </form>
        {{ result }}

      <div class="text-center row">        <button type="button"  class="btn btn-primary btn-lg btn-block" ng-click="testb()">Next</button></div>

    </div>
