  <div class="container">
        <div class="row">
           <h3 class="text-center test_title">Angular JS Test</h3>
        </div>

        <div class="que_color row">Q.4- What is The full form of ATM?</div>
        <form role="form">
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio"  ng-model="result4" ng-value="'opt1'">Option 1</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio"  ng-model="result4" ng-value="'opt2'">Option 2</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio"  ng-model="result4" ng-value="'opt3'">Option 3</label>
            </div>
        </form>
        {{ result }}
     
      <div class="text-center row">   <button type="button"  class="btn btn-primary btn-lg btn-block" ng-click="testd()">Next</button></div>

    </div>
