  <div class="container">
        <div class="row">
            <h3 class="text-center test_title">Angular JS Test</h3>
        </div>

        <div class="que_color row">Q.1- What is The full form of HTML?</div>
        <form role="form">
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result1" ng-value="'opt1'">Hyper Text Maekup.</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result1" ng-value="'opt2'">Hyper Langauge.</label>
            </div>
            <div class="radio row">
                <label>
                    <input type="radio" name="optradio" ng-model="result1" ng-value="'opt3'">HyperText Markup Langauge.</label>
            </div>
        </form>
      {{ result }}
    
      <div class="text-center row"> <button type="button"  class="btn btn-primary btn-lg btn-block" ng-click='testa()'>Next</button></div>

    </div>
